<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form class="form" (ngSubmit)="registerUser()" [formGroup]="registerForm">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control rounded-0" formControlName="email" required>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control rounded-0" formControlName="password" required>
                    </div>

                    <button class="btn btn-primary float-end mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" *ngFor="let item of testArray1">{{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of testArray2 ; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.last}}</td>
                    <td>{{item.handle}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</div>